<!DOCTYPE html>
<html lang="uk-UA" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="js-import">
        <script type="text/javascript" th:src="@{/js/core/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.migrate.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.cookie.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/device.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.resize-plugin.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.easing.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.touchSwipe.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/regula.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.form.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/RDInputLabel.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/owl-caroucel.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/RDNavBar.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.uitotop.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.countTo.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/WOW.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.mousewheel.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/jquery.pageTransition.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/parallax.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/plugins/custom-waypoints.min.js}"></script>

        <script type="text/javascript" th:src="@{/js/core/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/core/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/intense.js}"></script>
    </div>
</body>
</html>