<!doctype html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tracktor - Основні дані</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!--     Fonts and icons     -->
    <link rel="icon" th:href="@{/favicon.ico}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>

    <!-- Material Kit CSS -->
    <link th:href="@{/styles/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/styles/now-ui-dashboard.min.css}" rel="stylesheet">
    <link th:href="@{/styles/bootstrap-table.min.css}" rel="stylesheet">
    <link th:href="@{/styles/Chart.css}" rel="stylesheet">
    <link th:href="@{/styles/bootstrap-datepicker3.min.css}" rel="stylesheet">
    <link th:href="@{/styles/jquery.resizableColumns.css}" rel="stylesheet">
    <link th:href="@{/styles/animate.css}" rel="stylesheet">

    <link th:href="@{/css/home.css}" rel="stylesheet">
    <link th:href="@{/css/plugin.css}" rel="stylesheet">

    <!--   Core JS Files   -->
    <!--<script type="text/javascript" th:src="@{/js/core/jquery.min.js}"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/core/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/core/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/jquery.resizableColumns.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/locale/bootstrap-table-uk-UA.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/extensions/bootstrap-table-cookie.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-table/extensions/bootstrap-table-resizable.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/Chart.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/plugins/bootstrap-notify.js}"></script>

    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script th:src="@{/js/plugins/now-ui-dashboard.js}" type="text/javascript"></script>

    <script th:src="@{/js/home.js}" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-color="orange" hidden>
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
        -->
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-mini">
                CT
            </a>

            <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>

        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class="active ">
                    <a href="../dashboard.html">

                        <i class="now-ui-icons design_app"></i>

                        <p>Dashboard</p>
                    </a>
                </li>

                <li>
                    <a href="../icons.html">

                        <i class="now-ui-icons education_atom"></i>

                        <p>Icons</p>
                    </a>
                </li>

                <li>
                    <a href="../map.html">

                        <i class="now-ui-icons location_map-big"></i>

                        <p>Maps</p>
                    </a>
                </li>

                <li>
                    <a href="../notifications.html">

                        <i class="now-ui-icons ui-1_bell-53"></i>

                        <p>Notifications</p>
                    </a>
                </li>

                <li>
                    <a href="../user.html">

                        <i class="now-ui-icons users_single-02"></i>

                        <p>User Profile</p>
                    </a>
                </li>

                <li>
                    <a href="../tables.html">

                        <i class="now-ui-icons design_bullet-list-67"></i>

                        <p>Table List</p>
                    </a>
                </li>

                <li>
                    <a href="../typography.html">

                        <i class="now-ui-icons text_caps-small"></i>

                        <p>Typography</p>
                    </a>
                </li>

                <li class="active-pro">
                    <a href="../upgrade.html">

                        <i class="now-ui-icons arrows-1_cloud-download-93"></i>

                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel ps ps--active-y" id="main-panel">
        <nav class="navbar navbar-expand-lg navbar-transparent bg-primary  navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>

                    <a class="navbar-brand" href="#pablo">Відгрузки</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navigation">
<!--                    <form>-->
<!--                        <div class="input-group no-border">-->
<!--                            <input type="text" value="" class="form-control" placeholder="Search...">-->
<!--                            <div class="input-group-append">-->
<!--                                <div class="input-group-text">-->
<!--                                    <i class="now-ui-icons ui-1_zoom-bold"></i>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </form>-->

                    <ul class="navbar-nav">
                        <li class="nav-item">
<!--                            <a class="nav-link" href="#" th:url="${@environment.getProperty('wayforpay.widget-link')}" onclick="runWfpWdgt(this);">-->
<!--                                Оплатити-->
<!--                                <a href="#"   onmouseover="this.style.opacity='0.8';" onmouseout="this.style.opacity='1';"></a>-->
<!--                                <i class="now-ui-icons media-2_sound-wave"></i>-->
<!--                                <p>-->
<!--                                    <span class="d-lg-none d-md-block">Stats</span>-->
<!--                                </p>-->
<!--                            </a>-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Номер договору: 2365</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                            <a class="nav-link" th:href="@{/register}">Створити користувача</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="now-ui-icons users_single-02"></i>
                                <p>
                                    <span id="username" class="d-none d-sm-block" th:text="${#authentication.principal.fullName}"></span>
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                <form method="POST" th:action="@{/logout}" id="logoutForm">
                                    <input class="dropdown-item" type="submit" value="Вихід"/>
                                </form>
                            </div>
                        </li>

<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#pablo">-->
<!--                                <i class="now-ui-icons users_single-02"></i>-->
<!--                                <p>-->
<!--                                    <span class="d-lg-none d-md-block">Account</span>-->
<!--                                </p>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <div class="panel-header panel-header-lg">
            <canvas id="shipmentDayStatChart"></canvas>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-stats">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="statistics">
                                        <div class="info">
                                            <div class="icon icon-primary">
                                                <i class="now-ui-icons business_money-coins"></i>
                                            </div>
                                            <h3 id="dataBalance" class="info-title"> - </h3>
<!--                                            <h6 class="stats-title">Баланс</h6>-->
                                            <script type="text/javascript" id="widget-wfp-script" src="https://secure.wayforpay.com/server/pay-widget.js?ref=button"></script>
                                            <a class="btn btn-info" href="#" th:url="${@environment.getProperty('wayforpay.widget-link')}" onclick="runWfpWdgt(this);">
                                                Поповнити рахунок
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="statistics">
                                        <div class="info">
                                            <div class="icon icon-success">
                                                <i class="now-ui-icons files_box"></i>
                                            </div>
                                            <h3 id = "dataDeclarationCost" class="info-title"> 5 <small>грн/шт </small></h3>
                                            <h6 class="stats-title">Вартість декларації</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="statistics">
                                        <div class="info">
                                            <div class="icon icon-success">
                                                <i class="now-ui-icons objects_support-17"></i>
                                            </div>
                                            <h3 id = "dataLastInvoice" class="info-title"> - </h3>
                                            <h6 class="stats-title">Останнє поповнення</h6>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-md-3">-->
<!--                                    <div class="statistics">-->
<!--                                        <div class="info">-->
<!--                                            <div class="icon icon-success">-->
<!--                                                <i class="now-ui-icons files_box"></i>-->
<!--                                            </div>-->
<!--                                            <h3 id = "dataShipmentsLeft" class="info-title"> - </h3>-->
<!--                                            <h6 class="stats-title">Залишилось декларацій</h6>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-3">-->
<!--                                    <div class="statistics">-->
<!--                                        <div class="info">-->
<!--                                            <div class="icon icon-success">-->
<!--                                                <i class="now-ui-icons files_box"></i>-->
<!--                                            </div>-->
<!--                                            <h3 id = "dataShipmentsSumToday" class="info-title"> - </h3>-->
<!--                                            <h6 class="stats-title">Сумма сьогоднішніх декларацій</h6>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-md-3">
                                    <div class="statistics">
                                        <div class="info">
                                            <div class="icon icon-info">
                                                <i class="now-ui-icons users_single-02"></i>
                                            </div>
                                            <h3 class="info-title">
                                                <span id = "dataShipmentsToday"></span><span><small> / </small></span><span id = "dataShipmentsSumToday"></span>
                                            </h3>
                                            <h6 class="stats-title">Сформовано декларацій сьогодні</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
<!--                        <div class="card-header">-->
<!--                            <h4 class="card-title"> Відгрузки </h4>-->
<!--                        </div>-->
                        <div class="card-body">
                             <!--
                               Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                               Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                             -->
                                <div id="toolbar">
                                    <!--
                                    <button id="remove" class="btn btn-danger" disabled>
                                        <i class="glyphicon glyphicon-remove"></i> Delete
                                    </button>
                                    <button id="alertBtn" class="btn btn-default">Alert</button>
                                    -->
                                    <div class="input-group input-daterange datepicker">
                                        <input id="startDate" type="text" class="form-control">
                                        <div class="input-group-addon">до</div>
                                        <input id="endDate"  type="text" class="form-control">
                                    </div>
                                </div>
                                <table
                                        id="table"
                                        data-classes="table table-bordered table-hover table-borderless table-striped"
                                        data-toolbar="#toolbar"
                                        data-search="true"
                                        data-show-refresh="true"
                                        data-show-toggle="false"
                                        data-show-fullscreen="true"
                                        data-show-columns="true"
                                        data-show-columns-toggle-all="true"
                                        data-minimum-count-columns="2"
                                        data-show-pagination-switch="false"
                                        data-pagination="true"
                                        data-id-field="id"
                                        data-page-list="[10, 25, 50, 100, all]"
                                        data-show-footer="false"
                                        data-side-pagination="client"
                                        data-url="/services/shipment/get-all"
                                        data-query-params="tableDataQueryParams"
                                        data-response-handler="responseHandler"
                                        data-cookie="true"
                                        data-cookie-id-table="shipment"
                                        data-resizable="true">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="termsAndConditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div th:replace="termsAndConditions::oferta"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid ">
                <!--                <nav>-->
                <!--                    <ul>-->
                <!--                        <li>-->
                <!--                            <a href="https://www.creative-tim.com">-->
                <!--                                Creative Tim-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="http://presentation.creative-tim.com">-->
                <!--                                About Us-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                            <a href="http://blog.creative-tim.com">-->
                <!--                                Blog-->
                <!--                            </a>-->
                <!--                        </li>-->
                <!--                    </ul>-->
                <!--                </nav>-->
                <div class="copyright" id="copyright">
                    <h5 class="contacts-head">Наші контакти:</h5>
                    <table>
                        <tbody>
                            <tr>
                                <td class="contact-head">
                                    тел:
                                </td>
                                <td>
                                    (068) 846-99-84
                                </td>
                            </tr>
                            <tr>
                                <td class="contact-head">
                                    e-mail:
                                </td>
                                <td>
                                    support@tracktor.com.ua
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="terms-and-conditions">
                    <h5 class="contacts-head" data-toggle="modal" data-target="#termsAndConditions">Умови надання послуг</h5>
                </div>
            </div>
        </footer>
    </div>
    </div>
</div>
</body>
</html>