<!doctype html>
<html lang="uk" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="icon" th:href="@{/favicon.ico}">
    <title>eGastronom Bot</title>
    <style type="text/css">
        body {
            color:#000000;
            background-color:#574E92;
            margin:0;
            font-family: Roboto,sans-serif;
        }

        #container {
            margin-left:auto;
            margin-right:auto;
            text-align:center;
            }

        a img {
            border:none;
        }
    </style>
    <link rel='stylesheet' id='font/Roboto-css'  href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&#038;subset=cyrillic' type='text/css' media='all' />
    </head>
<body>
<div id="container">
    <div><img style="margin-top: 5%" th:src="@{/images/custom/egastronom.jpg}" width="50%" height="50%"/></div>
    <div>
        <h1 style="font-size:2.0em; font-weight: normal; color: white;">Отримуйте у Viber<br>
            - копії заказів<br>
            - повідомлення про відправку та копії розхідних накладних<br>
            - номер вантажної декларації<br>
            - нагадування про посилки</h1>
    </div>
    <div>
    </div>
</div>

<div id="container4" style="position:fixed; bottom: 0; width: 100%">
    <div id="container3" style="background-color:white; padding: 50px; text-align: center;">
        <img style="margin:auto; zoom: 2;" src="https://www.viber.com/app/uploads/viber-logo.png" alt="Ещё нет Viber? ">
    </div>
    <div id="container2" style="background-color:white; padding: 50px; text-align: center;">

        <a href="viber://pa?chatURI=tr_egastronom"  style="zoom: 2.5; color: #fff; font-size: 17px; font-weight: 300; display: inline-block; background-color: #66b821; line-height: 48px; text-align: center; min-width: 228px; height: 48px; border-radius: 30px; font-family: Roboto,sans-serif; padding: 0 28px; text-decoration: none">
            Підключити
        </a>
    </div>
</div>

</body>
</html>