<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="oferta">
    <h5 class="text-center">ПУБЛІЧНИЙ ДОГОВІР (ОФЕРТА)</h5>
    <p class="text-center">про надання послуг по роботі з електронними деклараціями служб доставки.</p>
    <br>
    <p>1. ВИЗНАЧЕННЯ ТЕРМІНІВ<br>
        1.1. Публічний договір - це правочин про надання послуг по роботі з електронними деклараціями служб доставки, який встановлює умови надання цих послуг та укладається між ВИКОНАВЦЕМ та ЗАМОВНИКОМ на умовах Публічної оферти в момент Акцепту ЗАМОВНИКОМ її умов (у подальшому - Договір).<br>
        1.2. Публічна оферта - пропозиція ВИКОНАВЦЯ, адресована будь-якій фізичній особі відповідно до ст.641 Цивільного кодексу України, укласти з ним Договір на умовах, що містіться в Публічній оферті.<br>
        1.3. Акцепт - надання ЗАМОВНИКОМ повної та безумовної згоди ВИКОНАВЦЮ на його пропозицію укласти Договір на умовах, визначених Публічною офертою (ст.642 Цивільного кодексу України).<br>
        1.4. Сайт - інтернет-ресурс ВИКОНАВЦЯ для надання послуг із доменним іменем http://tracktor.com.ua.   Сайт є незалежним інтернет-ресурсом. Через Сайт не провадиться перепродаж баз даних третіх осіб.
        1.5. Послуги - послуги по роботі з електронними деклараціями служб доставки через Сайт ВИКОНАВЦЯ, інші запропоновані ВИКОНАВЦЕМ на Сайті послуги, які надаються ВИКОНАВЦЕМ ЗАМОВНИКУ на підставі даного Договору відповідно до умов діючих Тарифів.<br>
        1.6. Тариф - сукупність пропозицій, запропонованих ЗАМОВНИКУ ВИКОНАВЦЕМ щодо вартості, умов та обсягу надання Послуг.<br>
        1.7. Система – це програмний комплекс ВИКОНАВЦЯ, який дозволяє ЗАМОВНИКУ зареєструватись, створювати електронні декларації, відслідковувати їх статус та контролювати свій електронний віртуальний рахунок. Доступ до Послуги за допомогою Системи надається ЗАМОВНИКУ після попереднього зарахування коштів на Електронний віртуальний рахунок, який складає 100% вартість електронних декларацій. Відрахування коштів з основного рахунку починається з моменту створення ЗАМОВНИКОМ кожної електронної декларації із використанням Системи. Якщо кошти на рахунку закінчуються, послуга призупиняється до моменту поповнення рахунку.<br>
        1.8. Електронний віртуальний рахунок – програмне забезпечення, що дає можливість ЗАМОВНИКУ відслідковувати надходження коштів.
        <span hidden>1.9. Електронна декларація -.</span></p>
    <br>

    <p>2. ПРЕДМЕТ ДОГОВОРУ<br>
        2.1. На умовах, визначених цим Договором, ВИКОНАВЕЦЬ надає, а ЗАМОВНИК приймає і оплачує послуги по забезпеченню доступу до програмного забезпечення (далі – Система), яке забезпечує формування, доставку і відслідковування єлектронніх накладних Клієнта протягом строку дії Договору (далі - Послуги) за наявності позитивного балансу на електронносу віртуальному рахунку.<br>
        2.2. Предметом, визначеним цим Договором, є надання ЗАМОВНИКУ послуг у відповідності з Правилами надання Послуг та діючими Тарифами ВИКОНАВЦЯ.<br>
        2.3. Всі умови Договору, викладені в цій Публічній оферті, ВИКОНАВЕЦЬ визначає самостійно й вони є обов’язковими для Сторін.<br>
        2.4. ЗАМОВНИК зобов’язаний ознайомитися з умовами цього Договору.<br>
        2.5. Кожна Сторона гарантує іншій Стороні, що володіє необхідною право- та дієздатністю, що є достатньою для укладання та виконання даного Договору відповідно до його умов.</p>
    <br>
    <p>3. АКЦЕПТ ПРОПОЗИЦІЇ УКЛАСТИ ДОГОВІР<br>
        3.1. Даний Договір є пропозицією ВИКОНАВЦЯ укласти договір (офертою) (ст.641 Цивільного кодексу України) та укладається шляхом повного та безумовного прийняття (акцепту) ЗАМОВНИКОМ всіх його умов (ст.642 Цивільного кодексу України).
        Договір має юридичну силу відповідно до ст.633 Цивільного кодексу України без підписання письмового примірника Сторонами та прирівнюється до договору, підписаного між ВИКОНАВЦЕМ та ЗАМОВНИКОМ.<br>
        3.2. Договір укладається шляхом реєстрації ЗАМОВНИКА на Сайті та оплати ним Послуг за діючими Тарифами та в порядку, передбаченому Договором, без підписання письмового примірника Сторонами.<br>
        3.3. Уклавши Договір ЗАМОВНИК автоматично підтверджує, що він ознайомлений та погоджується з умовами Договору, Тарифами та всіма умовами, викладеними на Сайті.<br>
        3.4. ЗАМОВНИКУ, який не згодний з умовами даного Договору, Послуги не надаються.<br>
        3.5. На письмову вимогу ЗАМОВНИКА Сторони можуть підписати письмовий примірник Договору.</p>
    <br>
    <p>4. УМОВИ НАДАННЯ ПОСЛУГ<br>
        4.1. З повним переліком та змістом Послуг й Тарифами ВИКОНАВЦЯ ЗАМОВНИК може ознайомитися на Сайті.<br>
        4.2. Послуги надаються ЗАМОВНИКУ на платній основі відповідно до діючих Тарифів.<br>
        4.3. Умови надання Послуг:<br>
        - реєстрація ЗАМОВНИКА на Сайті;<br>
        - ознайомлення та згода ЗАМОВНИКА з умовами цього Договору;<br>
        - оплата ЗАМОВНИКОМ Послуг у повному обсязі у порядку, передбаченому Договором.</p>
    <br>
    <p>5. ПРАВИЛА НАДАННЯ ПОСЛУГ<br>
        5.1. Послуги надаються тільки ЗАМОВНИКАМ, які зареєстровані в Системі та уклали з ВИКОНАВЦЕМ Договір.
        5.2. При реєстрації ЗАМОВНИК отримує персональний логін та пароль, який дозволяє отримати доступ до Системи ВИКОНАВЦЯ.
        5.3. ВИКОНАВЕЦЬ надає оплачені ЗАМОВНИКОМ Послуги доступу до програмного забезпечення, яке забезпечує формування та відслідковування електронних декларацій. Передача інформації від ЗАМОВНИКА до ВИКОНАВЦЯ надходить через мережу Інтернет (протокол передачі погоджується з ЗАМОВНИКОМ додатково; можливі протоколи: HTTP POST/GET, через ПЗ).
        5.4. Служба технічної підтримки ВИКОНАВЦЯ працює у робочі дні з 09:00 до 18:00 за телефоном +38 050 433 89 65 або електронною поштою за адресою: support@tracktor.com.ua.
        5.5. Послуги надаються цілодобово. ВИКОНАВЕЦЬ не несе відповідальності за перерви в наданні Послуг у зв’язку з відсутністю інтернет зв’язку, проблемами електропостачання, пожежею, терористичним актом та іншими обставинами, в т.ч. у випадку проведення робіт технічного обслуговування, а також інших регламентних робіт.
        5.6. ЗАМОВНИК зобов’язаний забезпечити конфіденційність свого пароля. ВИКОНАВЕЦЬ не несе відповідальності перед ЗАМОВНИКОМ за будь-які збитки, які були завдані ЗАМОВНИКУ у зв’язку з втратою пароля.
        5.7. ЗАМОВНИК зобов’язується використовувати Послуги відповідно до норм законодавства України.
        5.8. ЗАМОВНИК зобов’язаний відшкодувати ВИКОНАВЦЮ втрати, спричинені будь-якими виплатами, які можуть бути у ВИКОНАВЦЯ через порушення ЗАМОВНИКОМ під час виконання цього Договору чинного законодавства України, в т.ч. авторських та інших прав на об’єкти інтелектуальної власності.</p>
    <br>
    <p>6. ПРАВА ТА ОБОВ`ЯЗКИ СТОРІН<br>
        6.1. ВИКОНАВЕЦЬ має право:<br>
        6.1.1. самостійно та на власний розсуд визначати всі умови Договору, викладені в цій Публічній оферті, й вони є обов’язковими для Сторін;<br>
        6.1.2. в односторонньому порядку вносити зміни до Договору;<br>
        6.1.3. отримувати плату за Послуги;<br>
        6.1.4. в односторонньому порядку змінювати тарифи або механізм розрахунку вартості Послуг, шляхом зміни такої інформації на Сайті;<br>
        6.1.5. без узгодження з ЗАМОВНИКОМ модифікувати Сайт будь-яким способом, на свій розсуд, у тому числі, змінювати дизайн Сайту, умови надання Послуг, додавати нові Послуги, припиняти надання певних Послуг, а також тимчасово переривати доступ до Сайту в процесі проведення ВИКОНАВЦЕМ зазначених вище робіт;<br>
        6.1.6. проводити регламентні роботи на власних мережах телекомунікації та обладнанні Системи сумарною тривалістю до 72 годин за один календарний місяць, що не буде вважатися перервою в наданні Послуги;<br>
        6.1.7. на свій розсуд популяризувати Сайт та його можливості; розміщувати матеріали рекламного характеру на будь-якій сторінці Сайту, включаючи, але не обмежуючись, контекстну рекламу, банери, а також відео та інтерактивні рекламні ролики;<br>
        6.1.8. вимагати від ЗАМОВНИКА дотримання Правил та умов цього Договору та відмовити ЗАМОВНИКУ у наданні Послуги (й розірвати Договір в односторонньому порядку) у разі порушення ЗАМОВНИКОМ умов цього Договору, зокрема, Правил надання послуг.<br>
        6.2. ВИКОНАВЕЦЬ зобов’язаний:<br>
        6.2.1. надавати Послуги, встановлені цим Договором та Тарифами;<br>
        6.2.2. у разі зміни положень даного Договору, Тарифів, переліку Послуг, оприлюднювати їх змінені редакції на Сайті;<br>
        6.2.3. у разі необхідності надавати ЗАМОВНИКУ технічну підтримку та допомогу консультаційного характеру щодо отримання Послуг;<br>
        6.2.4. дотримуватись вимог конфіденційності та не розголошувати інформацію про ЗАМОВНИКА і його клієнтів, що є комерційною таємницею, крім випадків, передбачених чинним законодавством України;<br>
        6.2.5. при надходженні коштів на розрахунковий рахунок ВИКОНАВЦЯ за Послуги за Договором, протягом 24 (двадцяти чотирьох) годин зарахувати отриману суму на Електронний віртуальний рахунок ЗАМОВНИКА та надати ЗАМОВНИКУ доступ до отримання Послуг;<br>
        6.2.6. за допомогою Системи забезпечити ЗАМОВНИКУ можливість контролю за інформацією про надходження коштів на електронний віртуальний рахунок, стан свого електронного віртуального рахунку та стан кожної створеної за допомогою Системи електронної декларації.<br>
        6.3. ЗАМОВНИК має право:<br>
        6.3.1. своєчасно та у повному обсязі отримувати замовлені та оплачені Послуги;<br>
        6.3.2. поповнювати свій Електронний віртуальний рахунок, самостійно, виходячи з власних міркувань, визначивши суму поповнення;<br>
        6.3.3. отримувати усну консультаційну допомогу з питань, пов’язаних з виконанням Послуг за цим Договором, користуючись послугами служби технічної підтримки ВИКОНАВЦЯ за телефоном зазначеним в цьому Договорі.<br>
        6.4. ЗАМОВНИК зобов’язаний:<br>
        6.4.1. зареєструватися на Сайті;<br>
        6.4.2. в повній мірі дотримуватися всіх без виключення умов цього Договору, не здійснювати дій, які прямо заборонені ним;<br>
        6.4.3. користуватися Сайтом тільки в законних цілях;<br>
        6.4.4. дотримуватись Правил надання послуг за Договором;<br>
        6.4.5. використовувати Послуги, що надаються ВИКОНАВЦЕМ, виключно лише для цілей, визначених цим Договором;<br>
        6.4.6. сплачувати замовлені Послуги у порядку, розмірі та в строки, встановлені цим Договором;<br>
        6.4.7. самостійно ознайомлюватись з Тарифами на Сайті перед відправкою SMS-повідомлень через Систему ВИКОНАВЦЯ. Сторони домовилися, що факт створення електронної декларації ЗАМОВНИКОМ або за його дорученням через Систему означає, що ЗАМОВНИК ознайомлений і погоджується з Тарифами та не має права посилатись на необізнаність стосовно вартості Послуг і гарантує здійснення оплати наданих Послуг відповідно до діючих Тарифів;<br>
        6.4.8. бути власником бази даних телефонних номерів третіх осіб, що фігурують в електронних деклараціях;<br>
        6.4.9. забезпечувати конфіденційність і збереження свого облікового запису, не передавати іншим особам логін і пароль для входу в особистий кабінет ЗАМОВНИКА. ЗАМОВНИК самостійно несе відповідальність за всі дії, пов’язані з використанням його облікового запису, та відповідає за будь-які наслідки, які стануть результатом використання його облікового запису третіми особами;<br>
        6.4.10. у разі неналежного виконання ЗАМОВНИКОМ зобов’язань за цим Договором, в результаті чого, ВИКОНАВЦЮ було завдано збитків та/або пред’явлено претензії/позови з боку адресатів або інших третіх осіб, протягом трьох банківських днів, з моменту отримання повідомлення від ВИКОНАВЦЯ, відшкодувати ВИКОНАВЦЮ всі завдані збитки та самостійно розглянути ці скарги та задовольнити претензії/позови адресатів або третіх осіб власними силами та засобами та за свій власний рахунок;<br>
        6.4.11. негайно інформувати ВИКОНАВЦЯ в разі виявлення помилок в роботі Сайту, некоректного відображення інформації.</p>
    <br>
    <p>7. ЦІНИ ТА ПОРЯДОК РОЗРАХУНКІВ<br>
        7.1. З інформацією про вартість Послуг ЗАМОВНИК може ознайомитися у відповідному розділі Сайту.<br>
        7.2. Надання Послуг здійснюється на умовах 100% передоплати шляхом перерахування коштів на розрахунковий рахунок ВИКОНАВЦЯ.ЗАМОВНИК за допомогою Системи ВИКОНАВЦЯ самостійно сформує рахунок-фактуру.<br>
        7.3. Послуги оплачуються Замовником у гривні.<br>
        7.4. Моментом оплати є дата зарахування коштів на банківський рахунок ВИКОНАВЦЯ у повному обсязі.<br>
        7.5. Під час оплати Послуг ЗАМОВНИК самостійно оплачує всі та будь-які банківські послуги та комісії платіжних систем.<br>
        7.6. ЗАМОВНИК самостійно відповідає за правильність здійснених ним оплат та їх своєчасність.<br>
        7.7. Сторони домовилися, що для проведення розрахунків за надані ВИКОНАВЦЕМ Послуги відповідно до цього Договору, приймаються дані ВИКОНАВЦЯ.<br>
        7.8. ВИКОНАВЕЦЬ має право змінювати вартість Послуг в будь-який час в односторонньому порядку без будь-якого спеціального повідомлення ЗАМОВНИКА. Нова редакція Тарифів вступає в силу з моменту її опублікування на Сайті. ЗАМОВНИК вважається проінформованим про зміну Тарифів з моменту опублікування їх нової редакції на Сайті.</p>
    <br>
    <p>8. ВІДПОВІДАЛЬНІСТЬ<br>
        8.1. При невиконанні, або неналежному виконанні умов цього Договору Сторони несуть відповідальність згідно з цим Договором та чинним законодавством України.<br>
        8.2. ВИКОНАВЕЦЬ не несе відповідальності:<br>
        - за ненадання, неналежне надання Послуг внаслідок збоїв, що сталися в роботі телекомунікаційних і енергетичних мереж, дії шкідливих програм, а також недобросовісних дій третіх осіб, спрямованих на несанкціонований доступ та/або виведення з ладу Сайту (його програмного забезпечення) та/або апаратного комплексу ВИКОНАВЦЯ. ВИКОНАВЕЦЬ має право вживати всі розумні заходи з метою недопущення цього й усунення проблем, що виникли, у найкоротші строки;<br>
        - за будь-які збитки, що можуть виникнути у ЗАМОВНИКА внаслідок користування Послугами, в тому числі внаслідок ушкодження або втрати даних в результаті затримок, неотримання або переривання Послуг, які були викликані помилками або недбалістю ЗАМОВНИКА, та не відшкодовує їх за жодних обставин;<br>
        - за погіршення якості Послуг, перебої в роботі, які виникли прямо або опосередковано з причин, що знаходяться поза межами контролю та впливу ВИКОНАВЦЯ;<br>
        - в разі використання Сайту третіми особами внаслідок недотримання ЗАМОВНИКОМ конфіденційності його логіну та паролю для входу на Сайт.<br>
        8.3. ВИКОНАВЕЦЬ не гарантує абсолютну безперебійність або безпомилковість роботи Сайту і зобов'язується докладати всіх розумних зусиль і вживати заходів з метою недопущення цього і усунення проблем, що виникли у найкоротші терміни.<br>
        8.4. У разі порушення ЗАМОВНИКОМ умов цього Договору, в т.ч. Правил надання послуг, ВИКОНАВЕЦЬ залишає за собою право призупинити надання Послуг, протягом 24 годин повідомити про це ЗАМОВНИКА та провести внутрішнє розслідування з притягненням до відповідальності ЗАМОВНИКА.<br>
        Якщо факт порушення буде підтверджено, то ВИКОНАВЕЦЬ залишає за собою право:<br>
        8.4.1. розірвати цей Договір в односторонньому порядку, з відшкодуванням ЗАМОВНИКОМ усіх завданих ВИКОНАВЦЮ збитків, в тому числі (але не обмежуючись) шляхом анулювання ВИКОНАВЦЕМ залишку на електронному рахунку ЗАМОВНИКА (який зараховується в рахунок відшкодування);<br>
        8.4.2. після переговорів з ЗАМОВНИКОМ та відшкодуванням всіх понесених ВИКОНАВЦЕМ збитків, пов’язаних із порушенням ЗАМОВНИКОМ умов Договору, поновити надання Послуг. При цьому ВИКОНАВЕЦЬ залишає за собою право змінити умови передбачені Договором.</p>
    <br>
    <p>9. ФОРС-МАЖОР<br>
        9.1. Сторони звільняються від відповідальності за невиконання або неналежне виконання зобов’язань за цим Договором, якщо це невиконання є наслідком дії обставин непереборної сили (форс-мажор), які Сторони не могли передбачити та яким не могли запобігти всіма розумними способами та які безпосередньо впливають на виконання даного Договору і виникли після його укладення.<br>
        9.2. Під форс-мажорними обставинами Сторони розуміють обставини, що настали після укладання цього Договору в результаті подій надзвичайного характеру, а саме: природні стихійні явища (урагани, землетруси, повені, пожежі, блискавка тощо), війна, військові дії, бойові дії без оголошення війни, збройні конфлікти, повстання, революції, страйки, масові заворушення, локаути, терористичні акти, державні перевороти, блокади, дії державних органів, прийняття нормативних актів, якщо такі обставини призвели до об'єктивної неможливості для Сторони виконати свої зобов`язання за цим Договором. Сторони домовились, що форс-мажорними обставинами, також, вважаються аварії в системі енергозбереження та зв’язку, а також рішення та дії державних та комунальних органів, організацій.<br>
        9.3. Сторона, яка не в змозі виконати свої зобов’язання за Договором в результаті дії обставин форс-мажору та їх наслідків, зобов’язана протягом 5-ти календарних днів письмово повідомити про це іншу Сторону, а також надати документальне підтвердження їх наявності. Неповідомлення або несвоєчасне повідомлення про обставини форс-мажору позбавляє відповідну Сторону права посилання на вказані обставини, як на такі, що звільняють від відповідальності.<br>
        9.4. Підтвердженням дії форс-мажорних обставин є довідка Торгово-промислової палати України або іншого уповноваженого державного органу.<br>
        9.5. У разі настання форс-мажорних обставин строк виконання зобов'язань за цим Договором переноситься на строк дії таких обставин.<br>
        9.6. Виникнення обставин форс-мажору в момент прострочення виконання Стороною своїх зобов’язань за Договором позбавляє цю Сторону права посилатись на ці обставини як на підставу, яка звільняє від відповідальності за Договором.</p>
    <br>
    <p>10. ВИРІШЕННЯ СПОРІВ<br>
        10.1. Сторони будуть докладати всіх зусиль, щоб будь-які спори або непорозуміння, які можуть виникнути при виконанні умов цього Договору або у зв’язку з ним, були врегульовані шляхом переговорів протягом тридцяти календарних днів з моменту виникнення спірної ситуації.<br>
        10.2. В іншому випадку спір підлягає розгляду відповідним судом в порядку передбаченому чинним законодавством України.<br>
        10.3. Сторони не звільняються від виконання своїх обов’язків по цьому Договору до врегулювання спорів, що виникли.<br>
        10.4. Претензії ЗАМОВНИКА щодо надання Послуг приймаються ВИКОНАВЦЕМ до розгляду в письмовому вигляді на електронну або поштову адресу ВИКОНАВЦЯ.<br>
        10.5. У разі надходження до ВИКОНАВЦЯ від Абонента, Оператора або інших осіб письмового або усного звернення, претензії, скарги або припису з приводу змісту SMS-повідомлень, відправлених ЗАМОВНИКОМ при використанні Системи ВИКОНАВЦЯ, ЗАМОВНИК за запитом ВИКОНАВЦЯ в термін не більше 1 (одного) робочого дня надає письмову відповідь ВИКОНАВЦЮ по суті порушених ВИКОНАВЦЕМ питань у запиті.<br>
        10.6. До моменту надання письмової відповіді ЗАМОВНИКОМ на запит ВИКОНАВЦЯ, останній може вдатися до таких тимчасових обмежувальних заходів на свій розсуд:<br>
        - вимагати від ЗАМОВНИКА негайно зупинити відправлення SMS-повідомлень до завершення перевірки фактів щодо відсутності порушення Договору та надання письмової відповіді на запит;<br>
        - включити фільтри, що блокують проходження SMS-повідомлень, налаштовані на відповідні ідентифікатори адрес відправників та/або фрагменти текстів.<br>
        10.7. У разі виявлення порушень, зазначених у зверненні Абонента або іншої особи, ЗАМОВНИК вживає всіх заходів по негайному усуненню порушень.<br>
        10.8. Обмежувальні заходи, прийняті ВИКОНАВЦЕМ, знімаються після усунення порушення, якщо таке було виявлено, або після підтвердження того, що факт порушення був відсутній.<br>
        10.9. Для прискорення роботи над зверненням Абонента або іншої особи допускається обмін документами між ВИКОНАВЦЕМ і ЗАМОВНИКОМ електронними каналами комунікації, за умови негайного направлення оригіналів документів поштою.</p>
    <br>
    <p>11. ДІЯ ДОГОВОРУ<br>
        11.1. Даний Договір є публічним і безстроковим, вступає в силу з моменту, вказаного в п.3.2. Договору, та діє протягом строку надання замовлених і оплачених Послуг, але у будь-якому разі до повного виконання Сторонами своїх обов`язків за Договором.<br>
        11.2. Даний Договір публічно доводиться до відома усіх ЗАМОВНИКІВ шляхом його розміщення (оприлюднення) на Сайті.<br>
        11.3. Даний Договір може бути повністю або частково змінений ВИКОНАВЦЕМ в будь-який час в односторонньому порядку без будь-якого спеціального повідомлення ЗАМОВНИКА. Нова редакція Договору вступає в силу з моменту її опублікування на Сайті. ЗАМОВНИК вважається проінформованим про зміну умов Договору з моменту опублікування його нової редакції на Сайті.<br>
        11.4. Розірвання Договору можливе за згодою Сторін та за ініціативою однієї зі Сторін. У разі припинення дії Договору за ініціативою ЗАМОВНИКА, аванс не повертається, а допрацьовується ним.<br>
        11.5. Недійсність окремих положень цього Договору не тягне за собою недійсності всього Договору в цілому.<br>
        11.6. Закінчення строку дії Договору не звільняє Сторони від відповідальності за його порушення, якщо таке мало місце під час дії Договору.</p>
    <br>
    <p>12. ІНШІ УМОВИ<br>
        12.1. Персональні дані<br>
        ЗАМОВНИК підтверджує та визнає, що реєструючись на Сайті він тим самим надає повну та безумовну згоду (дозвіл) ВИКОНАВЦЮ на обробку своїх персональних даних, наданих в процесі реєстрації, а саме: на їх збирання, накопичення, зберігання, використання, знеособлення, знищення, як у письмовій, так і в електронній формі, у тому числі з використанням інформаційних (автоматизованих) систем. Метою збору та обробки персональних даних ЗАМОВНИКА на Сайті є підтримка комунікацій з ним, в т.ч. надання ЗАМОВНИКУ доступу до користування Сайтом, обробка його замовлень, забезпечення дотримання вимог чинного законодавства України (у тому числі з метою запобігання та припинення незаконних і протиправних дій Замовників).<br>
        ВИКОНАВЕЦЬ вживає всі необхідні заходи для захисту персональних даних ЗАМОВНИКА від випадкової втрати або знищення, від незаконної обробки, в тому числі від незаконного знищення чи доступу до них.
        ЗАМОВНИК підтверджує, що йому зрозумілі його права, визначені Законом України «Про захист персональних даних», зокрема ст.8 цього Закону, а також мета збору, зберігання та обробки його персональних даних. ЗАМОВНИК, також, надає згоду на безстроковий термін обробки його персональних даних.
        12.2. Інтелектуальна власність<br>
        ЗАМОВНИК визнає, що виключне право як на програмне забезпечення та Сайт в цілому, так і на їх складові частини та похідні від них продукти належить ВИКОНАВЦЮ. ЗАМОВНИК підтверджує, що використовуватиме Сайт та програмне забезпечення тільки відповідно до цього Договору та не здійснюватиме спроб «розкрити код», копіювати, емулювати, створити нові версії, продати, змінити, декомпілювати, аналізувати код, іншим чином використати вихідний текст і об'єктний код програмного забезпечення без письмового дозволу ВИКОНАВЦЯ.<br>
        Всі фотографії, відеоматеріали, графічні зображення, музикальні, звукові твори, знаки для товарів і послуг, що містяться на Сайті, є об`єктами права інтелектуальної власності. Право на використання вмісту Сайту (в тому числі право на підбір, розташування, систематизацію й перетворення даних, що містяться на Сайті, а також самі дані), окрім випадків, окремо зазначених у змісті опублікованих на Сайті матеріалів, належить виключно ВИКОНАВЦЮ.<br>
        ЗАМОВНИК має право копіювати (завантажувати, скачувати) з Сайту матеріали (інформацію) тільки для особистого користування. Розповсюдження, опублікування чи інше використання даних Сайту не допускається без посилання на Сайт.<br>
        У випадку порушення умов даного розділу Договору ЗАМОВНИК несе відповідальність, передбачену чинним законодавством України.<br>
        12.3. ВИКОНАВЕЦЬ має право на свій розсуд залучати до виконання цього Договору третіх осіб.<br>
        12.4. Кожна зі Сторін зобов’язана забезпечити сувору конфіденційність інформації, отриманої від другої Сторони при виконанні Договору. Передача зазначеної інформації третім особам, її опублікування або розголошення будь-яким іншим способом може мати місце лише за письмовим погодженням обох Сторін, незалежно від причин і строку припинення Договору, крім випадків, передбачених чинним законодавством України.<br>
        12.5. У випадках, не врегульованих цим Договором, Сторони керуються чинним законодавством України.<br>
        12.6. Даний Договір складений українською мовою та Замовник підтверджує, що розуміє та буде повністю дотримуватися його змісту.</p>
    <br>
    <p>13. РЕКВІЗИТИ ВИКОНАВЦЯ<br>
        ФОП Титикайло О. М.<br>
        ІПН: 3064817036<br>
        Місцезнаходження: 76493, с. Крихівці, вул. Двірська, 9а<br>
        т. 050 433 89 65<br>
        info@tracktor.com.ua</p>
</div>

</body>
</html>